#nav {
    background-color: #ccc;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    top: 0;
    height: 70px;

}

#logo {
    width: 300px;
    height: auto;
}

#fighters-grid {
    display: flex;
    width: 424px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 8px;
}

.fighter-thumb {
    height: 96px;
    width: 96px;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
}

.fighter-thumb:hover {
    transform: scale(1.23);
    border: 2px solid #d33;
    cursor: pointer;
}